@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Poppins|Raleway');
* {box-sizing:border-box}
.banner {
	width: 100%;
	height: 70%;
	padding: 1%;
	content: url("../assets/images/somos_temp.jpg");
	background-size: cover;
}

.resenia{

	margin-top: 1%;
	margin-bottom: 1%;
	width: 100%;
  display: inline-block;
	padding: 1%;

}


.resenia-content {
	width: 50%;
	height: 100%;
	padding: 1%;
	float:left;
	vertical-align: middle;
	position:static;
	display: inline-block;
}

.resenia-content > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-radius: 50%;
}

.resenia-content > p {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: Justify;
	line-height: 26px;
	border-radius: 5px;
}

.mision-vision {
	width: 100%;
}

.mision-vision-content {
	width: 30%;
	display: inline-block;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}

.mision-vision-content > p {
	text-align: justify;
}

@media screen and (max-width: 1024px){

	.resenia-content > p{
		margin-top: -75px;
	}

	.nuestros-clientes{
		margin-top: 10%;
	}

}

@media screen and (max-width: 880px){
	.mision-vision{
		margin-top: 5%;
	}

	.clientes{
		padding-left: 10px;
		padding-right: 10px;

	}

	.clientes > h3 {
		text-align: center;
		overflow: hidden;
		font-family: 'Raleway', sans-serif;
	}

	.resenia-content > p{
		margin: 1%;
		width: 100%
	}


}

@media screen and (max-width: 500px){

	.resenia{
		margin: 1%;
		width: 100%;

	}

	.resenia-content{
		position: static;
		width: 100%;
		text-align: center;
	}



	.resenia-content > p{
		width: 100%;
	}

	.banner {
		/* reemplazar imagen del banner*/
	}

	.mision-vision-content{
		display: block;
		width: 100%;
	}
}
